*{
    margin: 0;
}

#scene {
    width: 100vw;
}

.banner {
    display: flex;
    position: relative;
    z-index: 1;
}
.bg {
    width: 30vw;
    height: 20rem;
    margin-top: 10rem;
    margin-left: 10rem;
}

.front{
    margin: 10rem 0 0 15rem;
}

.title {
    font-size: 10rem;
    color: blueviolet;
}

.second {
    position: relative;
    font-size: 8rem;
    margin: 5rem 0;
    color: cornflowerblue;
    z-index: 1;
}

.developer {
    position: relative;
    object-fit: cover;
    width: 100vw;
    height: 30rem;
    z-index: 0;
}

.laptop {
    position: relative;
    width: 100vw;
    z-index: 0;
}